:root {
	/* --font-family: 'Manrope', sans-serif; */
	--main-color: rgb(255, 255, 255);
	--font-color: #286bbc;
	/* --popup-title: #286bbc; */
	--buttons-color: #ebacbc;
	--buttons-hover-color: #e38589;
	--disabled-color: #d1cfcf;
	--main-text: 'Open Sans', sans-serif;
	--bold-text: 'Roboto', sans-serif;
}
