.userslist-container {
	min-height: 75vh;
}
.black {
	background-color: black;
}
.userslist-box {
	margin: 1rem 4rem;
	padding: 2rem;
	border: 1px solid grey;
	border-radius: 5px;
}
.userslist-header {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	padding-bottom: 1rem;
	border-bottom: 1px solid black;
}
.userslist-header-text {
	font-weight: bold;
}

.userslist-text-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.userslist-body {
	margin-top: 1rem;
}

.userslist-body-user {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	margin-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid grey;
}
.userslist-body-text {
	display: flex;
	align-items: center;
}
.btn-edit,
.btn-remove {
	padding: 0.7rem;
	margin: 0 1rem;
	cursor: pointer;
}
.btn-edit i,
.btn-remove i {
	font-size: 20px;
	color: grey;
	transition: color 0.3s;
}
.btn-remove {
	border-radius: 5px;
	border: none;
}
.btn-remove:hover i {
	color: rgb(240, 105, 105);
}
.btn-edit {
	border-radius: 5px;
	border: none;
}

.btn-edit:hover i {
	color: rgb(58, 92, 230);
}
.userslist-small {
	min-height: 75vh;
	display: none;
}
.userlist-small-user {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	gap: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
	border: 1px solid black;
	border-radius: 5px;
}
.userlist-small-body {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	border-bottom: 1px solid grey;
}
.userlist-small-header {
	font-weight: bold;
}

@media screen and (max-width: 1048px) {
	.userslist {
		display: none;
	}
	.userslist-small {
		display: block;
	}
}
