.navbar {
	display: flex;
	justify-content: space-between;
	background: var(--main-color);
	width: 100%;
	color: var(--font-color);
	margin-top: 0.5rem;
	border-bottom: 1px solid rgb(184, 184, 184);
}
.navbar span {
	margin-left: 10px;
}
.name {
	margin: 1rem;
	margin-left: 3rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3px;
	color: var(--font-color);
	cursor: pointer;
}

.nav-options {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 40%;
	margin: 1rem;
	margin-right: 2rem;
	font-size: 24px;
}
.link i,
.link span {
	color: var(--font-color);
}

.btn-cart {
	margin: 0 1rem;
	cursor: pointer;
}
.nav-cart-box {
	position: relative;
}
.nav-cart-amount {
	position: absolute;
	background-color: var(--buttons-hover-color);
	top: 10px;
	right: -8px;
	padding: 4px;
	border-radius: 50%;
	font-size: 16px;
	font-style: normal;
}
.my-account {
	position: relative;
}
.fa-user,
.btn-my-account {
	cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
	margin-left: 1rem;
}

@media screen and (max-width: 545px) {
	.name {
		margin-left: 1rem;
	}
	.icon-name {
		font-size: 14px;
		display: none;
	}
	.nav-options {
		font-size: 18px;
		margin: 0.5rem;
		margin-right: 1rem;
	}
}
@media screen and (max-width: 675px) {
	.nav-options {
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 900px) {
	.navbar {
		display: flex;
		flex-wrap: wrap;
	}
	.nav-options{
		width: 35%;
	}
}
@media screen and (max-width: 1450px) {
	.icon-name {
		display: none;
	}
}
