.navbar-search-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin: 1rem;
	width: 100%;
}
.navbar-search-box input {
	height: 80%;
	width: 100%;
	font-size: 1rem;
	padding: 0.3rem;
	border: 1px solid grey;
	border-right: none;
}
.navbar-search-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	font-size: 1rem;
	text-transform: uppercase;
	padding: 0.5rem 2rem;
	border: none;
	background: var(--buttons-color);
	transition: background 0.3s;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.navbar-search-btn:hover {
	background: var(--buttons-hover-color);
}

@media screen and (max-width: 740px) {
	.navbar-search-box {
		order: 2;
		margin: 0.5rem 3rem;
	}
	.navbar-search-btn {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width: 550px) {
	.navbar-search-box {
		margin: 0.5rem 2rem;
	}
}
@media screen and (max-width: 400px) {
	.navbar-search-box {
		margin: 0.5rem 1rem;
	}
}
